---
  - name: Download readonlyrest
    get_url:
      url: "{{ ror_git }}"
      dest: /tmp/ror.zip
    tags: skip_ansible_lint

  - name: Install plugin
    expect:
      command: /usr/share/elasticsearch/bin/elasticsearch-plugin install file:///tmp/ror.zip
      responses:
        '[y/N]': y
    become: yes

  - name: Copy config
    template: src=readonlyrest.yml dest=/etc/elasticsearch
    become: yes
