---
readonlyrest:
  access_control_rules:
{% for var in creds %}

  - name: "Require HTTP Basic Auth for {{ var.username }}"
    type: allow
    auth_key: "{{ var.username }}:{{ var.password }}"
{% endfor %}

  - name: "Require limited HTTP Basic Auth for {{ creds[2].username }}"
    auth_key: "{{ creds[2].username }}:{{ creds[2].password }}""
    type: allow
    kibana_access: ro
    indices: [".kibana*","horizon-*","laravel-*","metricbeat-*","mysql-*","nginx-*","syslog-*","websocket-*"]
